body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #729699;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 800px) 1fr;
}

#App {
  grid-column-start: 2;
}

#App > header,
footer {
  background-color: #e67373;
}

#App > header,
article,
footer,
.callout {
  padding: 30px 10px 20px 10px;
}

article {
  background-color: #fff;
}
article:nth-child(2) {
  background-color: #eeeeee;
}

.callout {
  padding: 0;
  background-color: #dee5e7;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.callout > section {
  padding: 20px 10px;
}

button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 1.5em;
  padding: 0.3em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 0.9em;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
}

footer {
  /* Leave some padding at the bottom to make room for the GTM debugger */
  padding-bottom: 400px;
}

nav ul {
  list-style: none;
  text-indent: 0;
  margin-left: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}
nav ul li:first-child {
  margin-left: 0;
}

.spanner {
  text-decoration: none;
  padding: inherit 5px;
  background-color: lawngreen;
}
